<ion-content>
  <ion-grid no-padding>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div id="logoCircle">
          <img id="logoImage" src="assets/icon.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

        <div class="ion-padding" id="leftSlideIn">
          <ion-input type="text" [autofocus]="true" placeholder="{{'login.placeholder.username' | translate}}" [(ngModel)]="username"></ion-input>
          <ion-input type="password" placeholder="{{'login.placeholder.password' | translate}}" [(ngModel)]="password"></ion-input>
        </div>

        <div id="bottomSlideIn">
          <div class="ion-padding">
            <ion-button (click)="login()" expand="block">{{ 'login.button.login' | translate }}</ion-button>
          </div>
          <div class="ion-text-center">
            <ion-label class="clickableItem">Registrieren</ion-label>
          </div>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
